In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\yasin\.conda\envs\datas\lib\site-packages (2.1.2)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\yasin\.conda\envs\datas\lib\site-packages (from pandas) (1.26.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\yasin\.conda\envs\datas\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\yasin\.conda\envs\datas\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\yasin\.conda\envs\datas\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\yasin\.conda\envs\datas\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np
import pandas as pd

In [3]:
less = input("enter name of lessons:")
lessons = np.array(less.split(","))
lessons

array(['math', 'arabic', 'geography', 'history', 'english', 'literature',
       'physic', 'chemistry', 'trigonometry', 'biology', 'geometry'],
      dtype='<U12')

In [5]:
students_names = []
for n in range(1, 6):
    student_name = input("enter student's name: ")
    students_names.append(student_name)
st1_scores = np.array([float(input(f"enter score of {students_names[0]} lesson {lessons[i]}:")) for i in range(len(lessons))])
st2_scores = np.array([float(input(f"enter score of {students_names[1]} lesson {lessons[i]}:")) for i in range(len(lessons))])
st3_scores = np.array([float(input(f"enter score of {students_names[2]} lesson {lessons[i]}:")) for i in range(len(lessons))])
st4_scores = np.array([float(input(f"enter score of {students_names[3]} lesson {lessons[i]}:")) for i in range(len(lessons))])
st5_scores = np.array([float(input(f"enter score of {students_names[4]} lesson {lessons[i]}:")) for i in range(len(lessons))])

In [6]:
show = pd.DataFrame({students_names[0]:st1_scores, 
                     students_names[1]:st2_scores,
                     students_names[2]:st3_scores,
                     students_names[3]:st4_scores,
                     students_names[4]:st5_scores,}, index = [lessons[0], lessons[1], lessons[2], 
                                                              lessons[3], lessons[4], lessons[5], 
                                                              lessons[6], lessons[7], lessons[8], lessons[9], lessons[10]])
show

              mahan  yasin   ali  erfan  arman
math           18.0   19.0  20.0   20.0   19.0
arabic         16.0   20.0  18.0   17.0   18.0
geography      14.0   15.0  17.0   16.0   14.0
history        15.0   18.0   0.0   16.0   15.0
english        20.0   14.0  20.0   15.0   11.0
literature     18.0    7.0  15.0   18.0   10.0
physic         19.0    8.0  16.0   20.0   12.0
chemistry      17.0   20.0  19.0   13.0   10.0
trigonometry   10.0   15.0  18.0   20.0   19.0
biology        11.0   18.0  19.0   17.0   20.0
geometry       13.0   16.0  13.0   14.0   15.0

In [7]:

mean_of_scores = pd.DataFrame({f"average of {students_names[0]} scores" : [np.average(st1_scores)], 
                              f"average of {students_names[1]} scores" : [np.average(st2_scores)],
                              f"average of {students_names[2]} scores" : [np.average(st3_scores)],
                              f"average of {students_names[3]} scores" : [np.average(st4_scores)],
                              f"average of {students_names[4]} scores" : [np.average(st5_scores)]})
mean_of_scores

,average of mahan scores,average of yasin scores,average of ali scores,average of erfan scores,average of arman scores
0,15.545455,15.454545,15.909091,16.909091,14.818182