In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv("laptop_pricing_dataset_mod1.csv", header=None)
df.head()

   0     1   2          3   4   5   6       7    8   9    10    11    12
0   0  Acer   4  IPS Panel   2   1   5  35.560  1.6   8  256  1.60   978
1   1  Dell   3    Full HD   1   1   3  39.624  2.0   4  256  2.20   634
2   2  Dell   3    Full HD   1   1   7  39.624  2.7   8  256  2.20   946
3   3  Dell   4  IPS Panel   2   1   5  33.782  1.6   8  128  1.22  1244
4   4    HP   4    Full HD   2   1   7  39.624  1.8   8  256  1.91   837

In [3]:
headers = ['index','Manufacturer','Category','Screen','GPU','OS','CPU_core','Screen_Size_cm',
           'CPU_frequency','RAM_GB','Storage_GB_SSD','Weight_kg','Price']
df.columns = headers
df.head()

,index,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,0,Acer,4,IPS Panel,2,1,5,35.560,1.6,8,256,1.60,978
1,1,Dell,3,Full HD,1,1,3,39.624,2.0,4,256,2.20,634
2,2,Dell,3,Full HD,1,1,7,39.624,2.7,8,256,2.20,946
3,3,Dell,4,IPS Panel,2,1,5,33.782,1.6,8,128,1.22,1244
4,4,HP,4,Full HD,2,1,7,39.624,1.8,8,256,1.91,837

In [4]:
df.replace("?", np.nan, inplace=True)

In [5]:
df.dtypes

index               int64
Manufacturer       object
Category            int64
Screen             object
GPU                 int64
OS                  int64
CPU_core            int64
Screen_Size_cm    float64
CPU_frequency     float64
RAM_GB              int64
Storage_GB_SSD      int64
Weight_kg         float64
Price               int64
dtype: object

In [6]:
df.describe(include="all")

,index,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
count,238.000000,238,238.000000,238,238.000000,238.000000,238.000000,234.000000,238.000000,238.000000,238.000000,233.000000,238.000000
unique,NaN,11,NaN,2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,Dell,NaN,Full HD,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,71,NaN,161,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,118.500000,NaN,3.205882,NaN,2.151261,1.058824,5.630252,37.269615,2.360084,7.882353,245.781513,1.862232,1462.344538
std,68.848868,NaN,0.776533,NaN,0.638282,0.235790,1.241787,2.971365,0.411393,2.482603,34.765316,0.494332,574.607699
min,0.000000,NaN,1.000000,NaN,1.000000,1.000000,3.000000,30.480000,1.200000,4.000000,128.000000,0.810000,527.000000
25%,59.250000,NaN,3.000000,NaN,2.000000,1.000000,5.000000,35.560000,2.000000,8.000000,256.000000,1.440000,1066.500000
50%,118.500000,NaN,3.000000,NaN,2.000000,1.000000,5.000000,38.100000,2.500000,8.000000,256.000000,1.870000,1333.000000
75%,177.750000,NaN,4.000000,NaN,3.000000,1.000000,7.000000,39.624000,2.700000,8.000000,256.000000,2.200000,1777.000000
max,237.000000,NaN,5.000000,NaN,3.000000,2.000000,7.000000,43.942000,2.900000,16.000000,256.000000,3.600000,3810.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 238 entries, 0 to 237
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   index           238 non-null    int64
 1   Manufacturer    238 non-null    object
 2   Category        238 non-null    int64
 3   Screen          238 non-null    object
 4   GPU             238 non-null    int64
 5   OS              238 non-null    int64
 6   CPU_core        238 non-null    int64
 7   Screen_Size_cm  234 non-null    float64
 8   CPU_frequency   238 non-null    float64
 9   RAM_GB          238 non-null    int64
 10  Storage_GB_SSD  238 non-null    int64
 11  Weight_kg       233 non-null    float64
 12  Price           238 non-null    int64
dtypes: float64(3), int64(8), object(2)
memory usage: 24.3+ KB

In [8]:
missing_data = df.isnull()
missing_data.head()

,index,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_cm,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_kg,Price
0,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False

In [9]:
for column in missing_data.columns.values.tolist():
    print(column)
    print(missing_data[column].value_counts())
    print("")

index
index
False    238
Name: count, dtype: int64

Manufacturer
Manufacturer
False    238
Name: count, dtype: int64

Category
Category
False    238
Name: count, dtype: int64

Screen
Screen
False    238
Name: count, dtype: int64

GPU
GPU
False    238
Name: count, dtype: int64

OS
OS
False    238
Name: count, dtype: int64

CPU_core
CPU_core
False    238
Name: count, dtype: int64

Screen_Size_cm
Screen_Size_cm
False    234
True       4
Name: count, dtype: int64

CPU_frequency
CPU_frequency
False    238
Name: count, dtype: int64

RAM_GB
RAM_GB
False    238
Name: count, dtype: int64

Storage_GB_SSD
Storage_GB_SSD
False    238
Name: count, dtype: int64

Weight_kg
Weight_kg
False    233
True       5
Name: count, dtype: int64

Price
Price
False    238
Name: count, dtype: int64

In [10]:
avg_norm_loss = df["Weight_kg"].astype("float").mean(axis=0)
df["Weight_kg"].replace(np.nan, avg_norm_loss, inplace=True)

In [11]:
for column in df[["Screen_Size_cm"]]:
    print(df[column].value_counts())
    print('The most repeated value: ', df[column].value_counts().idxmax())
    
df["Screen_Size_cm"].replace(np.nan, df[column].value_counts().idxmax(), inplace=True)

Screen_Size_cm
39.624    89
35.560    64
38.100    23
33.782    20
33.020    18
43.942     7
43.180     5
31.750     4
30.480     4
Name: count, dtype: int64
The most repeated value:  39.624

In [12]:
df['Weight_kg'] = 2.20462*df["Weight_kg"]
df.rename(columns={'Weight_kg':'Weight_pound'}, inplace=True)

In [13]:
df['Screen_Size_cm'] = 0.393701*df["Screen_Size_cm"]
df.rename(columns={'Screen_Size_cm':'Screen_Size_inch'}, inplace=True)

In [14]:
for column in df[["CPU_frequency"]]:
    print('The most repeated value: ', df[column].value_counts().idxmax())
    
df["CPU_frequency"] = df[column].value_counts().idxmax() // df["CPU_frequency"]

The most repeated value:  2.5

In [15]:
for column in df[["CPU_frequency"]]:
    print(df[column].value_counts())

CPU_frequency
1.0    154
0.0     83
2.0      1
Name: count, dtype: int64

In [16]:
bins = np.linspace(min(df["Price"]), max(df["Price"]), 4)
bins

array([ 527.        , 1621.33333333, 2715.66666667, 3810.        ])

In [17]:
group_names = ["Low","Medium","High"]
df['Price-binned'] = pd.cut(df['Price'], bins, labels=group_names,  include_lowest=True)
df[['Price','Price-binned']].head()

   Price Price-binned
0    978          Low
1    634          Low
2    946          Low
3   1244          Low
4    837          Low

In [18]:
for column in df[["Price-binned"]]:
    print(df[column].value_counts())

Price-binned
Low       160
Medium     72
High        6
Name: count, dtype: int64

In [19]:
Full_HD = []
IPS_Panel = []
for column in df["Screen"]:
    if column == 'IPS Panel':
        IPS_Panel.append(1)
    else:
        IPS_Panel.append(0)
    if column == 'Full HD':
        Full_HD.append(1)
    else:
        Full_HD.append(0)
df['Screen-IPS_Panel'] = IPS_Panel
df['Screen-Full_HD'] = Full_HD

In [20]:
df

,index,Manufacturer,Category,Screen,GPU,OS,CPU_core,Screen_Size_inch,CPU_frequency,RAM_GB,Storage_GB_SSD,Weight_pound,Price,Price-binned,Screen-IPS_Panel,Screen-Full_HD
0,0,Acer,4,IPS Panel,2,1,5,14.000008,1.0,8,256,3.527392,978,Low,1,0
1,1,Dell,3,Full HD,1,1,3,15.600008,1.0,4,256,4.850164,634,Low,0,1
2,2,Dell,3,Full HD,1,1,7,15.600008,0.0,8,256,4.850164,946,Low,0,1
3,3,Dell,4,IPS Panel,2,1,5,13.300007,1.0,8,128,2.689636,1244,Low,1,0
4,4,HP,4,Full HD,2,1,7,15.600008,1.0,8,256,4.210824,837,Low,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
233,233,Lenovo,4,IPS Panel,2,1,7,14.000008,0.0,8,256,3.747854,1891,Medium,1,0
234,234,Toshiba,3,Full HD,2,1,5,13.300007,1.0,8,256,2.645544,1950,Medium,0,1
235,235,Lenovo,4,IPS Panel,2,1,5,12.000006,0.0,8,256,2.998283,2236,Medium,1,0
236,236,Lenovo,3,Full HD,3,1,5,15.600008,1.0,6,256,5.291088,883,Low,0,1
237,237,Toshiba,3,Full HD,2,1,5,14.000008,1.0,8,256,4.299009,1499,Low,0,1